.main-sidebar {
  top: 0;
  position: fixed !important;
  height: calc(100vh);
  background: #fff;
  z-index: 1070;
  will-change: transform;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1),
    0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);
}

@media (max-width: 767.98px) {
  .main-sidebar {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    box-shadow: none;
  }
}
